<html>
  <head>
      <title>DC Iotas</title>
  </head>
  <body>

    <div class="hero">
      <br />
      <div class="frosty col-10 offset-1 text-center">
      <br />
      </div>
    </div>

<p>
<p>

<h3 style="text-align:center;white-space:pre-wrap;">The DC Iotas</h3>
<p class="maintext">Welcome to the website of the Beta Omega Alumni Chapter of Iota Phi Theta Fraternity Inc.
  We are pleased you decided to stop by and check us out. We have been operating here in the Washington, DC metropolitan area since 1970 and we plan to still be here working it out on September 19, 2063.

  Over the last 40 years, we have forged some key friendships and partnerships with other organizations and like-minded individuals who share our passion for service. One of the hallmarks of our existence has been our dedicated service to improving the lives of young people one program and one child at a time. We have run youth mentoring programs in Ward 8 for more than 15 years and look forward each year to identifying new young people and new service goals as we work to be good neighbors.

  In 2009, we have expanded our service initiatives to include a Developing Better Fathers Program. Through a grant from DC Department of Human Services we are providing case management to 20 fathers who are seeking to improve their relationships with their children. The program includes support and wrap around services to include job training and placement, counseling on improving economic stability, and dealing with and preventing domestic violence.

  If you have the desire to get involved and help make a positive difference in the lives of young people, we would welcome the opportunity to meet with you to discuss how your skills best use to help improve the negative socio-economic conditions that plague our community’s most deserving citizens.</p>

<hr />



<hr />

<div class="container">
  <div class="row">
    <div class="col">
      <h2>History</h2>
      <p class="maintext">The Beta Omega Alumni Chapter (BOAC) is the second oldest alumni chapter of Iota Phi Theta Fraternity, Inc. chartered in Washington, D.C. on September 19, 1970. Ten brothers who were recent college graduates established Beta Omega with a vision to spread the principles of Iota and the commitment to public service and making an impact in all aspects of the human endeavor.
        <ul>
          <li>Edgar Johnson - Alpha Chapter - Polaris</li>
          <li>Kenneth Smith* - Beta Chapter - Vice-Polaris</li>
          <li>Arthur Wyatt - Beta Chapter - Secretary</li>
          <li>Michael Parker - Beta Chapter - Treasurer</li>
          <li>Lamont Bland* - Alpha Chapter - Historian</li>
          <li>Malcolm Daniels - Beta Chapter</li>
          <li>Daniel Morgan - Beta Chapter</li>
          <li>Algernon Tucker - Beta Chapter</li>
          <li>Melvin Watkins - Beta Chapter</li>
          <li>Edward Whiting - Beta Chapter</li>
        </ul>
      * <i>Alpha Iota Omega Memorial Chapter</i>
      </p>
    </div>
  </div>
</div>

<hr />

<div class="container">
  <div class="row">
    <div class="col">
      <h2>Chartered Chapters</h2>
      <p class="maintext">The Beta Omega Alumni Chapter has made insurmountable efforts over the years to charter and establish a working relationship with undergraduate chapters in the Washington D.C. metropolitan area. The undergraduate chapters we have helped charter are:
      <ul>
        <li>Theta - University of the District of Columbia (formerly Federal City College)</li>
        <li>Mu - Bowie State University</li>
        <li>Nu - University of Maryland, College Park</li>
        <li>Alpha Tau - Howard University</li>
      </ul></p>
    </div>
  </div>
</div>

<hr />

<div class="container">
  <div class="row">
    <div class="col">
      <h2>Executive Board</h2>
        <ul>
          <li>Polaris - Jamel Walker</li>
          <li>Vice Polaris - James White</li>
          <li>Treasurer - Alton Ward</li>
          <li>Secretary - Rickey Davis</li>
        </ul>
    </div>
  </div>
</div>

<hr />

<div class="container">
  <div class="row">
    <div class="col">
      <h2>Beta Omega Social Services</h2>
      <p class="maintext">In 2003, the Beta Omega Alumni Chapter established Beta Omega Social Services, Inc. (BOSS). BOSS is the non-profit philanthropic arm of the chapter and with a mission to foster the socio-economic enrichment and advance the development of opportunities for underserved communities in the Greater Washington D.C. area through social service. Current BOSS projects include mentoring programs, educational programs, health awareness, and scholarship programs for youth.

      One of our most dedicated brothers Michael Gilbert died after a long illness in 1995. Michael was a single parent for several years, and raised his daughter Lauren from infancy. Beta Omega started the Michael Gilbert Scholarship Fund in 1996 and the first recipient was his daughter, Lauren Gilbert. The Beta Omega Alumni Chapter granted her $2,500 to attend the University of Tampa. In 2004, the program transferred to BOSS in the effort to establish an endowment fund to raise more money to fund this program.

      The Beta Omega Alumni Chapter along with several individuals from the chapter have been recognized by the fraternity for their contributions including: Tony Watson Award – Alumni Brother of the Year recipients, two former Grand Polari, and the chapter’s efforts were recognized again with 2001 – 2003 Alumni Chapter of the Year Award. The chapter hosted the 10th National Conclave in 1983 and the 24th National Conclave in 1994.</p>
    </div>
  </div>
</div>

<hr />

<div class="container">
  <div class="row">
    <div class="col">
      <h2>Beta Omega Initiates</h2>
      <p class="maintext">Dennis Carraway - Joseph Johnson - Lenny Richeson - Tom Payne - Marvin Parker - Edward Ball - James Walls - Vincent E. Parker - Marquis Smith - Bobby Timberlake - Romell K. Short - Issac July - Akil Brown - Ernest Walker - Gregory Lawrence - Anthony Allen - Eric Hollins - Kareem Byrd - Calvin Hicks - Cedric Flynt - Steven Lee - William Murry - Kelvin Coachman - Shawn Williams - Alton Ward - Timothy Fenner - Brandon Smith - Jonathan Harrison - Darroll Screen</p>
    </div>
  </div>
</div>

<hr />

<h2>Chapter Calendar</h2>

<br />
<div class="calendar">
  <iframe src="https://calendar.google.com/calendar/embed?src=iptbetaomega.secretary%40gmail.com&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>
<br />

<hr />

</body>